@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
    --text-color: #e6edf3;
    --text-secondary: #8b949e;
    --text-special: #2ea043;
    --border-color: #30363d;
    --link: #a371f7;
    --link2: #a371f760;
}
* {
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
}


a {
    text-decoration: none;
}

a:hover {
    color: var(--link) !important;
}

.featured__logo-img {
    width: 20px;
    height: 20px;
}

.featured__item {
    max-width: 125px;
    min-width: 125px;
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: all 0.3s ease;
}


.featured__item:active {
    scale: 0.95;
}

.featured__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0.5rem;
}

.featured__icon-img {
    width: 31px;
    height: 31px;
    padding: 2px;
}

.featured__description {
    display: flex;
    flex-direction: column;
}

.description__icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: var(--border-color);
    transition: all 0.3s ease-in-out;
}

.featured__icon-img {
    max-width: none;
}

.featured__subtitle {
    font-size: 0.8rem;
    font-weight: 500;
}
.featured__arrow {
    position: absolute;
    right: 10px;
    bottom: 40%;
    cursor: pointer;
    transition: all 0.3s ease;
}
@media (width > 360px) {
    .featured__item--first {
        max-width: 200px;
        min-width: 200px;
        min-height: 60px;
        cursor: auto;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        gap: 10px;
    }

    .featured__icon-img--first {
        width: 50px;
        height: 50px;
    }

    .featured__item--first:hover > a > .featured__arrow {
        color: var(--link);
        scale: 1.4 !important;
    }

    .featured__icon--first {
        width: 50px;
        height: 50px;
    }

    .featured__subtitle--first {
        font-size: 1rem;
    }
}
